* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #735d53;
}

body {
 background-color: #f5f1eb;

}

a {
    text-decoration: none;
}

.main-page {
    height: 80vh;
    
}
.profile-container {
    height: 100vh;
    .info{
        color: #130b07;
    }
    
}
.navbar {
    width: 100%;
    height: auto;
}

.btn1 {
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid black;
    p {
        color: black;
    }
}
.btn2 {
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #f5f1eb;
    background-color: #735d53;
    p {
        color: #f5f1eb;
    }
}

.btn1:hover , .btn2:hover {
    cursor: pointer;
}
.icon {
    font-size: 2rem;
    gap: 20px;
    text-decoration: none;
}
.info {
    display: block;
    justify-content: flex-start;
}

.aboutMe {
    height:auto;
}

.aboutMe {
    margin-top: 50px;
    position: relative;
    // height: 70vh;
    .contianer {
        height: 50%;
        
    }   
}
.profile2 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    margin: auto;
}
.first-row, .second-row {
    
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px 10px 20px 10px;
    margin-top: 20px;
    text-align: center;
}

.experience {
    margin-top: 100px;
}

.experience {
    // height: 70vh;
    .skill-container {
        display: block;
        justify-content: space-around;
        border: 2px solid black;
        border-radius: 30px;
        padding: 20px;
        
    }
}



.container-project {
    min-height: 80vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-info {

        height: auto;
        border: 2px solid black;
        border-radius: 25px;
        margin-top: 10px;
        .logo {
            border-radius: 25px;
        }
        .btn-project {
            width: 100px;
            height: 50px;
            border: 2px solid black;
            border-radius: 30px;
            margin-bottom: 25px;
        }
    }
}

.contact-me {
    .boxes {
        width: 200px;
        height: 80px;
        border: 2px solid black;
        border-radius: 30px;
        margin-top: 10px;
        display: block;
        justify-content: center;
    }
}



.typing-text {
    font-size: 2rem;
    position: relative;
    color:white;
    -webkit-text-stroke: 1px rgb(141, 145, 151);
    text-transform: uppercase;
}

.typing-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0    ;
    height: 100%;
    color:#735d53;
    -webkit-text-stroke: 0vw black ;
    border-right: 2px solid #735d53;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

.ani-btn {
    position: relative;
}
.ani-btn:hover {
    background-color:#735d53;
    color: #f5f1eb;
    
    p, i {
        color:  #f5f1eb;
    }
}


.ani-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#f5f1eb;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

footer {
    background-color:#735d53;
    p {
       color: #f5f1eb;
    }
}

@media only screen and (max-width: 576px) {

   

    .aboutMe {
        
        display: flex;
        justify-content: center;
        align-items: center;
        .profile2 {
            
            height: 300px;
            border: 2px solid #735d53;
            border-radius: 30px;
        }
    }

    
    .skill-container {
        gap: 10px;
    }
}

@media (max-width:991px) {
    .profile-container {
        
        
    }
}